---
import Layout from "./Layout.astro";
import TableOfContents from "../components/TableOfContents.svelte";

const { frontmatter } = Astro.props;
const { title = "Pluton 2D", currentPage = "/" } = frontmatter;
---

<Layout {title} {currentPage}>
  <div class="page-layout">
    <TableOfContents client:only="svelte" />
    <div class="wrapper">
      <article id="doc-content">
        <slot />
      </article>
    </div>
  </div>
</Layout>

<style>
  .page-layout {
    position: relative;
    max-width: 1680px;
    margin: 0 auto;
    min-height: 100dvh;
  }

  .wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: min(90ch, 100dvw);
    min-height: 100dvh;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 1.5em;
    }
  }
</style>
