.pluton-pattern-graph-paper-minor {
  fill: none;
  stroke: rgba(0, 0, 0, 0.03);
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.pluton-pattern-graph-paper-major {
  fill: none;
  stroke: rgba(0, 0, 0, 0.15);
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.pluton-axes .pluton-axis {
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 1;
  stroke-dasharray: 0.5em 0.75em;
  shape-rendering: crispEdges;
}

.pluton-geometry path {
  fill: url("#pluton-pattern-fill-hatch-45");
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 1;
  shape-rendering: crispEdges;
}
