.pluton-pattern-graph-paper-minor {
  fill: none;
  stroke: rgba(0, 0, 0, 0.03);
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.pluton-pattern-graph-paper-major {
  fill: none;
  stroke: rgba(0, 0, 0, 0.15);
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.pluton-axes .pluton-axis {
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 1;
  stroke-dasharray: 5 5;
  shape-rendering: crispEdges;
}

.pluton-geometry,
.pluton-dimensions {
  filter: url("#pluton-filter-pencil");
}

.pluton-geometry path {
  fill: url("#pluton-pattern-fill-hatch-45");
  fill-rule: evenodd;
  stroke: rgba(0, 0, 0, 0.75);
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.pluton-dimensions .pluton-dim-stroke {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.pluton-dimensions .pluton-dim-filled {
  fill: black;
  stroke: none;
  shape-rendering: crispEdges;
}

.pluton-dimensions text {
  fill: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  letter-spacing: 0.02em;
}
